{% extends "base2.html" %}
{% load custom_filters %}
{% block title %}Profile{% endblock title %}
{% block content %}
  <div class="bg-gray-100">
    <div class="flex min-h-screen">
      <aside class="w-64 bg-white shadow-md">
        <div class="p-4">
          <h2 class="text-xl font-semibold text-gray-800">Menu</h2>
        </div>
        <nav class="mt-4">
          <a href="{% url 'edit-profile' %}" class="block py-2 px-4 text-gray-700 hover:bg-gray-200"
            >Edit Profile</a
          >
          <a href="{% url 'password-change' %}" class="block py-2 px-4 text-gray-700 hover:bg-gray-200"
            >Change Password</a
          >
        </nav>
      </aside>

      <main class="flex-1 p-8">
        <h1 class="text-3xl font-bold text-black mb-8">Users Details</h1>

        <div class="bg-white shadow-md rounded-lg p-6">
          <div class="flex items-center mb-6">
            <img
              src="{{profile_images.url}}"
              alt="User Avatar"
              class="w-24 h-24 rounded-full object-cover mr-6 ml-6"
            />
            <div class="mr-6 ml-6">
              <h2 class="text-2xl font-semibold text-gray-800">{{name}}</h2>
            </div>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
           <h3 class="text-lg font-semibold text-gray-700 mb-2">
                Contact Information
              </h3>
            <div>
            <div class="flex items-center gap-2">
              <div class="w-8 h-8 rounded-full bg-blue-300 flex items-center justify-center text-black mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3" fill="none" viewBox="0 0 24 24" stroke-width="1.0" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0Zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 1 0-2.636 6.364M16.5 12V8.25" />
                </svg>
              </div>
              <p class="text-gray-600">
                <span class="font-medium">Email:</span> {{ email }}
              </p>
            </div>
            <div class="flex items-center gap-2">
              <div class="w-8 h-8 rounded-full bg-blue-300 flex items-center justify-center text-black mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.0" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
              </svg>
              </div>
              <p class="text-gray-600">
                <span class="font-medium">Username:</span> {{ username }}
              </p>
            </div>
            <div class="flex items-center gap-2">
              <div class="w-8 h-8 rounded-full bg-blue-300 flex items-center justify-center text-black">
               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.0" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
              </svg>
              </div>
              <p class="text-gray-600">
                <span class="font-medium">Contact Info:</span>  {{contact_number}}
              </p>
            </div>
            </div>
            <div class="mt-6 shadow-xl bg-green-200 rounded-lg p-6">
              <h3 class="text-lg font-semibold text-black mb-2">
                Account Information
              </h3>
              <p class="text-black">
                <span class="font-medium">Member Since:</span> {{member_since|humanized_date}}
              </p>
              <p class="text-black">
                <span class="font-medium">Last Login:</span> {{last_login|humanized_date}}
              </p>
            </div>
          </div>
          <div class="mt-6 shadow-xl bg-blue-200 rounded-lg p-6">
            <h3 class="text-lg font-semibold text-black mb-2">Bio</h3>
            <p class="text-black">
             {{bio}}
            </p>
          </div>
        </div>
      </main>
    </div>
  </div>
  {% endblock content %}