{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/output.css" %}">
</head>
<body>
    <div class="w-1/2 mx-auto mt-8">
        <div>{% if message %}
            <p>{{message}}</p>
            {% endif %}
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="w-1/2 align-middle m-4 bg-green-500 text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500">
                Submit
            </button>        
        </form>
    </div>
</body>
</html>