{% extends "base2.html" %}
{% load static %}

{% block content %}
<div class="w-1/2 mx-auto mt-8">
    <div>
        {% if messages %}
            {% for message in messages %}
                <div class="px-2 py-1 {% if 'success' in message.tags %}bg-green-500{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>      

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="w-1/2 align-middle m-4 bg-green-500 text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500">
            Submit
        </button>        
    </form>
</div>
{% endblock %}
