{% extends "base2.html" %}
{% block content %}
<!-- Event Cards -->
<div class="max-w-[1200px] mx-auto p-6">
    <div class="grid grid-cols-4 gap-6 mb-8 pt-8">
        <a href="{% url 'participant_page' %}">
        <div class="bg-blue-500 rounded-xl p-6 shadow-sm">
                <h3 class="text-sm font-bold text-black mb-4">Total Perticipant</h3>
            <div class="flex justify-between items-start">
            <div>
                <p class="text-3xl font-semibold">{{total_participants}}</p>
            </div>
            </div>
        </div>
        </a>
        <a href="{% url "dashboard" %}?type=total_events">
        <div class="bg-purple-500 rounded-xl p-6 shadow-2xs w-full overflow-hidden">
            <h3 class="text-sm font-bold text-black mb-4">Total Event</h3>
            <p class="text-3xl font-semibold">{{ event_counts.total_events }}</p>
            
        </div></a>
        <a href="{% url "dashboard" %}?type=upcoming_events">
        <div class="bg-red-500 rounded-xl p-6 shadow-2xs w-full overflow-hidden">
            <h3 class="text-sm font-bold text-black mb-4">Upcoming Event</h3>
            <p class="text-3xl font-semibold">{{event_counts.upcoming_events}}</p>
        </div></a>
        <a href="{% url "dashboard" %}?type=past_events">
        <div class="bg-green-500 rounded-xl p-6 shadow-2xs w-full overflow-hidden">
            <h3 class="text-sm font-bold text-black mb-4">Past Events</h3>
            <p class="text-3xl font-semibold">{{event_counts.past_events}}</p>
        </div></a>
        <a href="{% url "category_page" %}?type=event_category">
        <div class="bg-orange-500 rounded-xl p-6 shadow-2xs w-full overflow-hidden">
            <h3 class="text-sm font-bold text-black mb-4">Total Category</h3>
            <p class="text-3xl font-semibold">{{Category_count}}</p>
        </div></a>
    </div>
    <p class="text-black font-bold mb-4 text-2xl">Event Details</p>
    <div class='bg-white p-4 m-6 rounded-xl'>
    <div class="bg-green-200 rounded-xl">
        <div class="grid grid-cols-4 p-4 border-b border-black text-base text-black items-center font-bold">
            <div>Name</div>
            <div>Date</div>
            <div>Time</div>
            <div>Location</div>
        </div>

        {% for event in event_list %}
        <div class="grid grid-cols-4 p-4 border-b border-white text-base text-gray-900 items-center">
            <div class="font-medium text-black">
                <a href="{% url 'event-page' event.id %}" class="text-black">{{ event.name }}</a>
            </div>            
            <div class="text-black">{{ event.date }}</div>
            <div class="text-black">{{ event.time }}</div>
            <div class="text-black">{{ event.location }}</div>
            <div class="col-span-4 flex gap-2 justify-end mt-4">
               <a href='{%url "update" event.id %}' class="bg-green-500 text-white px-5 py-2 rounded-lg shadow-md hover:bg-green-600 transition p-3">
                        Upgrade
                </a>
                <form action="{% url 'delete' event.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="bg-red-500 text-white px-5 py-2 rounded-lg shadow-md hover:bg-red-600 transition p-3">
                        Delete
                    </button>
                </form>                
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</div>
{% endblock %}
