{% extends "base2.html" %}
{% block content %}
{% comment %} <div class="flex justify-center gap-4 m-4">
    <button class="bg-blue-500 text-white px-6 py-3 rounded-lg hover:bg-blue-600 transition h-12 w-32 text-xl">
        Event
    </button>
    <button class="bg-blue-500 text-white px-6 py-3 rounded-lg hover:bg-blue-600 transition h-12 w-32 text-xl">
        Participant
    </button>
    <button class="bg-blue-500 text-white px-6 py-3 rounded-lg hover:bg-blue-600 transition h-12 w-32 text-xl">
        Category
    </button>
</div> {% endcomment %}

<!-- Event Cards -->
<div class="max-w-[1200px] mx-auto p-6">
    <div class="grid grid-cols-4 gap-6 mb-8 pt-8">
        <a href="{% url "dashboard" %}?type=total_participants">
        <div class="bg-green-500 rounded-xl p-6 shadow-2xs w-full overflow-hidden">
            <h3 class="text-sm font-bold text-black mb-4">Total Participant</h3>
            <p class="text-3xl font-semibold">{{total_participants}}</p>
        </div></a>
        <a href="{% url "dashboard" %}?type=total_events">
        <div class="bg-purple-500 rounded-xl p-6 shadow-2xs w-full overflow-hidden">
            <h3 class="text-sm font-bold text-black mb-4">Total Event</h3>
            <p class="text-3xl font-semibold">{{ event_counts.total_events }}</p>
        </div></a>
        <a href="{% url "dashboard" %}?type=upcoming_events">
        <div class="bg-red-500 rounded-xl p-6 shadow-2xs w-full overflow-hidden">
            <h3 class="text-sm font-bold text-black mb-4">Upcoming Event</h3>
            <p class="text-3xl font-semibold">{{event_counts.upcoming_events}}</p>
        </div></a>
        <a href="{% url "dashboard" %}?type=past_events">
        <div class="bg-blue-500 rounded-xl p-6 shadow-2xs w-full overflow-hidden">
            <h3 class="text-sm font-bold text-black mb-4">Past Events</h3>
            <p class="text-3xl font-semibold">{{event_counts.past_events}}</p>
        </div></a>
    </div>
    <p class="text-black font-bold mb-4 text-2xl">Event Details</p>
    <div class="bg-green-200 rounded-xl shadow-2xl">
        <div class="grid grid-cols-4 p-4 border-b border-black text-base text-black items-center font-bold">
            <div>Name</div>
            <div>Date</div>
            <div>Time</div>
            <div>Location</div>
        </div>

        {% for event in events %}
        <div class="grid grid-cols-4 p-4 border-b border-white text-base text-gray-900 items-center">
            <div class="font-medium text-black">
                <a href="{% url 'event-page' event.id %}" class="text-blue-700 underline">{{ event.name }}</a>
            </div>            
            <div class="text-black">{{ event.date }}</div>
            <div class="text-black">{{ event.time }}</div>
            <div class="text-black">{{ event.location }}</div>
            <div class="col-span-4 flex gap-2 justify-end mt-4">
               <a href='{%url "update" event.id %}' class="bg-green-500 text-white px-5 py-2 rounded-lg shadow-md hover:bg-green-600 transition p-3">
                        Upgrade
                </a>
                <form action="{% url 'delete' event.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="bg-red-500 text-white px-5 py-2 rounded-lg shadow-md hover:bg-red-600 transition p-3">
                        Delete
                    </button>
                </form>                
            </div>
        </div>
        {% endfor %}
    </div>
    <p class="text-black font-bold mb-4 mt-4 text-2xl">Participant Details</p>
    <div class="bg-green-200 rounded-xl shadow-2xl mb-4">
        <div class="grid grid-cols-4 p-4 border-b border-black text-base text-black items-center font-bold">
            <div>Name</div>
            <div>Email</div>
        </div>
    
        {% for participant in participants %}
        <div class="grid grid-cols-4 p-6 border-b border-white text-base text-gray-900 items-center">
            <div class="font-medium text-black">{{ participant.first_name }} {{ participant.last_name }}</div>
            <div class="font-medium text-black">{{ participant.email }}</div>
            <div class="col-span-3 flex justify-end gap-2">
                <a href="{% url 'update_participant' participant.id %}" class="bg-green-500 text-white px-5 py-2 rounded-lg shadow-md hover:bg-green-600 transition p-3">
                    Upgrade
                </a>
                <form action="{% url 'delete_participant' participant.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="bg-red-500 text-white px-5 py-2 rounded-lg shadow-md hover:bg-red-600 transition p-3">
                        Delete
                    </button>
                </form> 
            </div>
        </div>
        {% endfor %}
    </div>
    

    {% comment %} <p class="text-black font-bold mb-4 mt-4 text-2xl">Category Details</p>

    <div class="bg-green-200 rounded-xl shadow-2xl">
        <div class="grid grid-cols-4 p-4 border-b border-black text-base text-black items-center font-bold">
            <div>Name</div>
        </div>
        <div class="grid grid-cols-4 p-6 border-b border-white text-base text-gray-900 items-center">
            <div class="font-medium text-black">Name</div>
            <div class="col-span-3 flex justify-end gap-2">
                <button class="bg-green-500 text-white px-5 py-2 rounded-lg shadow-md hover:bg-green-600 transition p-3">
                    Upgrade
                </button>
                <button class="bg-red-500 text-white px-5 py-2 rounded-lg shadow-md hover:bg-red-600 transition p-3">
                    Delete
                </button>
            </div>
        </div>
    </div> {% endcomment %}
</div>
{% endblock %}
