{% extends "base2.html" %}
{% load static %}
{% block content %}
<div class="mx-12 mb-4">
    <div class="flex justify-between items-center mt-4">
        <h1 class="text-5xl text-black font-bold">{{ event.name }}</h1>
    </div>

    <div class="flex flex-col md:flex-row gap-6 items-center mt-4">
        <div class="w-full md:w-1/2">
            {% if event.asset and event.asset.url %}
                <img src="{{ event.asset.url }}" alt="Event Image" class="w-full h-56 md:h-80 object-cover rounded-lg">
            {% else %}
                <img src="{% static 'images/no_image.png' %}" alt="Default Event Image" class="w-full h-56 md:h-80 object-cover rounded-lg">
            {% endif %}
        </div>        
        <div class="w-full md:w-1/2 flex flex-col gap-4">
            <div class="p-4 flex bg-black items-center gap-4 rounded-lg shadow-lg">
                <div class="bg-yellow-400 p-3 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 text-white">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184" />
                    </svg>
                </div>
                <div>
                    <h3 class="text-base font-bold text-white">Event Date</h3>
                    <p class="text-2xl font-semibold text-white">{{ event.date }}</p>
                </div>
            </div>

            <div class="p-4 flex bg-black items-center gap-4 rounded-lg shadow-lg">
                <div class="bg-yellow-400 p-3 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 text-white">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>   
                </div>
                <div>
                    <h3 class="text-base font-bold text-white">Event Time</h3>
                    <p class="text-2xl font-semibold text-white">{{ event.time }}</p>
                </div>
            </div>

            <div class="p-4 flex bg-black items-center gap-4 rounded-lg shadow-lg">
                <div class="bg-yellow-400 p-3 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 text-white">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                    </svg>
                </div>
                <div>
                    <h3 class="text-base font-bold text-white">Event Location</h3>
                    <p class="text-2xl font-semibold text-white">{{ event.location }}</p>
                </div>
            </div>
            <div class="p-4 flex bg-black items-center gap-4 rounded-lg shadow-lg">
                <div class="bg-yellow-400 p-3 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
                    </svg>                      
                </div>
                <div>
                    <h3 class="text-base font-bold text-white">Total Participant</h3>
                    <p class="text-2xl font-semibold text-white">{{ event_participants.count }}</p>
                </div>
            </div>
        </div>
    </div>

    <h1 class="text-4xl text-black font-semibold mt-6 mb-4">Description</h1>
    <p class="text-gray-700 leading-relaxed pb-4 text-xl">
        {{ event.description|safe }}
    </p>

    <div class="p-4 flex flex-col bg-black rounded-lg shadow-lg mt-4 w-full md:w-4/12">
        <h1 class="text-4xl border-b-white text-yellow-400 mb-2">Participants</h1>
        <p class="text-2xl font-semibold text-white">{{ event_participants.count }}</p>
        {% for participant in user_participants %}
        <p class="text-xl font-semibold text-white">{{ participant.get_full_name }}</p>
        {% empty %}
        <p class="text-white text-sm">No participants yet.</p>
        {% endfor %}
    </div>
</div>
{% endblock content %}
