{% extends "dashboard/base.html" %}
{% load static %}
{% block event_card %}
<!--Event info page-->
<div class="mx-12">
    <h1 class="text-6xl text-yellow-500 mt-4">Event Name</h1>
    <div class="w-96 md:w-1/2 mt-4">
        <img src="{% static 'images/event-3.jpg' %}" alt="Event Image" class="w-full h-56 md:h-80 object-cover rounded-lg">
    </div>
    <div class="w-1/2 mt-4">
        <div class="flex gap-6 mt-4">
            <div>
                <h1 class="text-lg font-bold">Date</h1>
                <div class="w-16 h-8 bg-yellow-400 text-black flex justify-center items-center rounded-md mt-1">
                    <h2 class="text-lg font-bold">26</h2>
                </div>
            </div>
            <div>
                <h1 class="text-lg font-bold">Time</h1>
                <div class="w-40 h-8 bg-yellow-400 text-black flex justify-center items-center rounded-md mt-1">
                    <h2 class="text-lg font-bold">10:30 pm</h2>
                </div>
            </div>
            <div>
                <h1 class="text-lg font-bold">Location</h1>
                <div class="w-16 h-8 bg-yellow-400 text-black flex justify-center items-center rounded-md mt-1">
                    <h2 class="text-lg font-bold">Dhaka</h2>
                </div>
            </div>
        </div>
    </div>
    <h1 class="text-4xl text-yellow-400 mt-4">Description</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius ipsum voluptates molestiae molestias quo modi voluptate est, nesciunt consequuntur dolor perferendis, ipsam, nobis illo adipisci ipsa? Esse nisi laudantium sequi!</p>
</div>
{% endblock event_card %}